<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}"
>
<head>
<meta charset="UTF-8" />
</head>
<body>
	<main layout:fragment="corpo">
			<aside class="text-white bg-dark">
				<nav class="sidebar sidebar-open">
					<a class="nav-link text-white p-0 m-1" th:href="@{/classificacaofiscal/form}">Classificação Fiscal</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/marca/form}">Marca</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/origem/form}">Origem</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/regiaoprodutora/form}">Região Produtora</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/produtor/form}">Produtor</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/tipoitem/form}">Tipo do Item</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/linha/form}">Linha</a>
					<a class="nav-link text-white p-0 m-1" th:href="@{/tiposelo/form}">Tipo de Selo</a>
				</nav>
			</aside>
			<section class="cadastro-section">
				<form layout:fragment="principal"></form>
			</section>
	</main>
	
</body>
</html>