<!DOCTYPE html>
<html
	layout:decorate="~{/cadastro/cadastro}" 
>


<head>



</head>
<body>

<form class="classificacaofiscal" action="salvar" layout:fragment="cadastro" th:object="${classificacaoFiscal}">

	<input type="hidden" th:field="*{id}">
		<label class="col-form-label col-form-label-sm" for="ncm" th:text="#{ncm.lbl}"></label>
			<input class="input form-control form-control-sm" type="text" th:field="*{ncm}" />
	
		<label class="col-form-label col-form-label-sm" for="descricao" th:text="#{ncm.text}"></label>
			<input class="input form-control form-control-sm" type="text" th:maxlength="#{ncm.maxlength}" th:field="*{descricao}">
	
	
		<div th:replace="~{/cadastro/botoes}"></div>
	
</form>
</body>
</html>