<!DOCTYPE html>
<html
	layout:decorate="~{/cadastro/cadastro}"
	xmlns:th="http://www.thymeleaf.org" 
>
<head>
	<meta charset="UTF-8" />

</head>
<body>

<form method="POST" th:object="${classificacaoFiscalDTO}"  th:action="*{.id == null} ? @{/classificacaofiscal/salvar} : @{/classificacaofiscal/alterar}"  layout:fragment="principal" >
	<div th:replace="cadastro/fragments :: alert-success"></div>
	<div class="cadastro classificacaofiscal">
		<input type="hidden" th:field="*{id}">
		<label class="label-ncm col-form-label col-form-label-sm" for="ncm">NCM</label>
		<input autofocus class="input-ncm form-control form-control-sm" type="text" maxlength="9" th:field="*{ncm}" th:classappend="${#fields.hasErrors('ncm')} ? 'is-invalid' : ''" />
		
		<div  th:replace="~{cadastro/fragments.html :: erro('ncm')}"></div>

		<label class="label-descricao col-form-label col-form-label-sm" for="descricao">Descrição</label>
		<input class="input-descricao form-control form-control-sm" type="text" maxlength="80" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid' : ''" >
		
		<div  th:replace="~{cadastro/fragments.html :: erro('descricao')}"></div>
		
	
		<div th:replace="~{/cadastro/fragments.html :: botoes(${#execInfo.processedTemplateName.replace('/cadastro/','')})}"></div>
		
		
	</div>
	<div>
		<div>[(${#execInfo.processedTemplateName})]</div>
	
	</div>
</form>
</body>
</html>