<!DOCTYPE html>
<html
	layout:decorate="~{/cadastro/cadastro}"
	xmlns:th="http://www.thymeleaf.org" 
>


<head>



</head>
<body>

<form class="classificacaofiscal" action="salvar" layout:fragment="cadastro" th:object="${classificacaoFiscal}">

	<input type="hidden" th:field="*{id}">
		<label th:classappend="#{label-class}" for="ncm" th:text="#{classfiscal.ncm.label}"></label>
		<input th:classappend="#{input-class}" type="text" th:field="*{ncm}" th:maxlength="#{classfiscal.ncm.lenght}" />
	
		<label th:classappend="#{label-class}" for="descricao" th:text="#{classfiscal.descricao.label}"></label>
		<input th:classappend="#{input-class}" type="text" th:maxlength="#{classfiscal.descricao.length}" th:field="*{descricao}">
	
	
		<div th:replace="~{/cadastro/botoes}"></div>
	
</form>
</body>
</html>