<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/cadastro/cadastro}">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div class="corpo" layout:fragment="principal">

		<header id="cad" class="h5 mb-2 alert alert-secondary p-0 pb-1 ps-1 pt-1 " th:text="#{pesquisa.__${cadastro}__.legenda}" th:data-columns="#{pesquisa.__${cadastro}__.columns}" th:data-columndefault="#{pesquisa.__${cadastro}__.columndefault}" th:data-orderablefalse="#{pesquisa.__${cadastro}__.orderablefalse}" th:data-name="#{pesquisa.__${cadastro}__.name}"></header>
<!-- 		<div class="container-fluid p-1 ms-1">
			<form id="busca" action="" method="GET" class="p-1 col-4 ">
				<input class="form-control form-control-sm mb-1" autofocus type="text" />
				<button class="btn btn-primary mt-1">Localizar</button>
			</form>
		</div>
 -->		<div id="tabela" style="margin:10px">
			<table id="table_search" class="display compact cell-border dataTable" style="width:100%; font-size: 0.875rem">
				<thead class="thread-dark">
					<tr>
						<th>Id</th>
						<th>NCM</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Row 1 Data 1</td>
						<td>Row 1 Data 2</td>
						<td>Row 1 Data 3</td>
					</tr>
					<tr>
						<td>Row 2 Data 1</td>
						<td>Row 2 Data 2</td>
						<td>Row 2 Data 3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>