<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/cadastro/cadastro}">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div class="corpo" layout:fragment="principal">

		<header id="cad" class="h5 mb-2 alert alert-success p-0 pb-1 ps-1 pt-1 " 
				th:text="#{pesquisa.__${cadastro}__.legenda}" 
				th:data-cadname="#{pesquisa.__${cadastro}__.cadname}" 
				th:data-columns="#{pesquisa.__${cadastro}__.columns}" 
				th:data-titles="#{pesquisa.__${cadastro}__.titles}"
				th:data-orderable="#{pesquisa.__${cadastro}__.orderable}" 
				th:data-columndefault="#{pesquisa.__${cadastro}__.columndefault}"
				></header> 
		<div id="tabela" style="margin:10px">
			<table id="table_search" class="display compact cell-border dataTable" style="width:100%; font-size: 0.875rem">
			<thead></thead>
			</table>
		</div>
	</div>
</body>
</html>