<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}" 
	>
<head>
<meta charset="UTF-8" />
</head>
<body>

      <div class="navbar-nav me-auto mb-1 mb-lg-0" layout:fragment="menu">
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/nfe" style="background-color:#9e0059;font-family: Inter,sans-serif;"><span class="fas fa-file-invoice"></span> Nota Fiscal</a>
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/duplicata" style="background-color: #9e0059;font-family: Inter,sans-serif;"><span class="fas fa-barcode"></span> Duplicatas</a>
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/listapreco" style="background-color: #9e0059;font-family: Inter,sans-serif;"><span class="fas fa-book"></span> Lista de Preços</a>
          
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/cadastros" style="background-color:#ff0054;font-family: Inter,sans-serif;"><span class="fab fa-wpforms"></span> Cadastros</a>
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/estoque" style="background-color: #ff0054;font-family: Inter,sans-serif;"><span class="fas fa-pallet"></span> Estoque</a>
          
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/escrituracao" style="background-color: #ff5400;font-family: Inter,sans-serif;"><span class="fas fa-clipboard-list"></span> Escrituração</a>
          
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/relatorios" style="background-color: #ffbd00; font-family: Inter,sans-serif;"><span class="far fa-chart-bar"></span> Relatórios</a>
      </div>


	<section class="container-fluid" layout:fragment="corpo">
		home
	</section>



</body>
</html>