<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body class="containers">

<nav class="navbar navbar-expand border border-info" style="background-color: #caf0f0">
  <div class="container-fluid">
  
      <a class="navbar-brand text-white rounded p-2 btnmenu" href="/" style="background-color: #390099; font-family: Inter,sans-serif;hover"><span class="fas fa-home"></span> Empresa</a>
      <div class="navbar-nav me-auto mb-1 mb-lg-0">
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/nfe" style="background-color:#9e0059;font-family: Inter,sans-serif;"><span class="fas fa-file-invoice"></span> Nota Fiscal</a>
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/duplicata" style="background-color: #9e0059;font-family: Inter,sans-serif;"><span class="fas fa-barcode"></span> Duplicatas</a>
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/listapreco" style="background-color: #9e0059;font-family: Inter,sans-serif;"><span class="fas fa-book"></span> Lista de Preços</a>
          
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/cadastros" style="background-color:#ff0054;font-family: Inter,sans-serif;"><span class="fab fa-wpforms"></span> Cadastros</a>
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/inventario" style="background-color: #ff0054;font-family: Inter,sans-serif;"><span class="fas fa-pallet"></span> Estoque</a>
          
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/escrituracao" style="background-color: #ff5400;font-family: Inter,sans-serif;"><span class="fas fa-clipboard-list"></span> Escrituração</a>
          
          <a class="nav-item nav-link text-white m-1 rounded btnmenu" href="/relatórios" style="background-color: #ffbd00; font-family: Inter,sans-serif;"><span class="far fa-chart-bar"></span> Relatórios</a>
      </div>
      <form class="navbar">
      	<span class="alert alert-light m-1 p-1">Usuário: email@gmail.com</span>
        <button class="btn btn-success" type="submit" style="font-family: Inter,sans-serif;"><i class="fas fa-sign-out-alt"></i> Sair</button>
      </form>
  </div>
</nav>
<div class="container-fluid">jfdasklçf</div>



</body>
</html>