.classificacaofiscal-label-left {
	display: inline-block;
	width: 60px;
	margin-left: 5px
}

#classificacaofiscal-ncm {
	display: inline;
	width: 107px
}

#classificacaofiscal-descricao {
	display: inline-block;
	width: 900px
}