@import "/css/classificacaofiscal.css";

section form{
    grid-gap: 2px;
    margin: 2px;
    
    padding: 5px;
}

.cadastro-section {
    width: 100%;
}

.barra-botoes {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-gap: 5px;
    grid-area: botoes;
}
