
a[class*="grupo-"]{
	font-family: Inter, sans-serif;
	
}

.grupo-0 {
	background-color: #390099;
	
}
.grupo-1 {
	background-color: #9e0059;
}

.grupo-2 {
	background-color: #ff0054;
}

.grupo-3 {
	background-color: #ff5400;
}
.grupo-4 {
	background-color: #ffbd00;
}