.origem-label-left{
	display: inline-block;
	width: 60px;
	margin-left: 5px
}

#origem-codigo{
	display: inline-block;
	width: 52px;
}

#origem-descricao{
	display: inline-block;
	width: 900px;

}



