.pais-label-left {
	display: inline-block;
	width: 90px;
}

#pais-nome {
	display: inline-block;
	width: 900px;
}

#pais-sigla {
	display: inline-block;
	width: 70px;
}

#pais-origem {
	display: inline-block;
	width: 900px;
}

#pais-codigoBacen {
	display: inline-block;
	width: 90px;
}

