
#pais-nome {
	display: inline-block;
	width: 900px;
}

#pais-sigla {
	display: inline-block;
	width: 50px;
}

#pais-origem {
	display: inline-block;
	width: 900px;
}

#pais-codigoBacen {
	display: inline-block;
	width: 60px;
}

.pais-label-left {
	display: inline-block;
	width: 100px;
}
