.produto-label-left {
	display: inline-block;
	width: 100px;
	margin-left: 5px
}

#produto-codigoProduto {
	display: inline-block;
	max-width: 130px;
}

#produto-codigoDeBarras {
	display: inline-block;
	max-width: 130px;
}

#produto-descricao {
	display: inline-block;
	max-width: 1200px;
}

.label-codigoDeBarras {
	width: 112px;
	margin-left: 5px
}

.form-row-columns {
	display: flex;;
}


#produto-pais{
	display: inline-block;
	width: 150px;
}


#produto-produtor{
	display: inline-block;
	width: 300px;
}