
.produto {
    
}

label {
    font-size: 0.875rem;
}

#codigoProduto {
    display: inline-block;
    max-width: 100px;
}

#codigoDeBarras {
    display: inline-block;
    max-width: 130px;
}
#descricao {
    display: inline-block;
    max-width: 1200px;
}

.label-descricao{
    width: 100px;
}

.label-codigoProduto{
 width: 100px;   
    
}