
.cadastro-section{
    width: 100%;
}

.classificacaofiscal {
    display: grid;
    grid-template-columns: 82px 80px 500px;
    grid-template-areas:
    "label input"
    "label input input" ;
    
    
    grid-gap: 3px;
    margin: 10px;
    background-color: lightgray;
    padding: 2px;
}

.grid-template-botoes {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-gap: 5px;
    
}
