.tributacao-label-left {
	display: inline-block;;
	width: 60px
	margin-left: 5px
}

#tributacao-codigo {
	display: inline-block;;
	width: 67px
}

#tributacao-descricao {
	display: inline-block;;
	width: 900px
}