.unidade {
    display: grid;
    grid-template-rows:auto auto auto auto auto;
    grid-template-columns: 65px 116px 550px;
    grid-template-areas: 
    "label-descricao input-descricao input-descricao"
    ". error_descricao error_descricao"
    "label-abreviacao input-abreviacao ."
    ". error_abreviacao error_abreviacao"
    ". botoes botoes"
    ;
}

#error_descricao{
    grid-area: error_descricao;
}

.label-descricao {
    grid-area: label-descricao;
}

.input-descricao {
    grid-area: input-descricao;
}



#error_abreviacao{
    grid-area: error_abreviacao;
}

.label-abreviacao {
    grid-area: label-abreviacao;
}

.input-abreviacao {
    grid-area: input-abreviacao;
}